<%= render template: "layouts/application" %>

  <% content_for :title do %>
    User Agent Parser
  <% end %>

  <% content_for :nav do %>
  <% end %>

  <% content_for :body do %>

    <%= render 'agent_info' %>

    <h2>Top 5 Modern browsers:</h2>
    <ul>
      <li><a href="https://chromereleases.googleblog.com/">Chrome</a> - Current Version found: 91.0.4472</li>
      <li>Edge</li>
      <li>Firefox</li>
      <li>Safari</li>
      <li>Opera</li>
    </ul>

  <% end %>
