<%= render template: "layouts/application" %>

  <% content_for :title do %>
    User Agent Parser
  <% end %>

  <% content_for :nav do %>
  <% end %>

  <% content_for :body do %>
    
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>User Agents</h1>
                <h5 class="w3-padding-32">User Agents are best defined as the information sent to websites to identify devices, browsers, and features.
                <p class="w3-text-grey"><%= render "agent_info" %></p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>


    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
                <h1>Modern Browsers</h1>
                <h5 class="w3-padding-32">While there are a wide variety of browsers, the majority of users will use one of five browsers:</h5>
                <ul class="w3-text-grey">
                  <li>Chrome - Current Version found: 91.0.4472</li>
                  <li>Edge</li>
                  <li>Firefox</li>
                  <li>Safari</li>
                  <li>Opera</li>
                </ul>
            </div>
        </div>
    </div>
  <% end %>
