                <a href="/articles" class="w3-bar-item w3-button w3-padding-large">Articles</a>
                <a href="/modern_browsers" class="w3-bar-item w3-button w3-padding-large">Browsers</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>